$blue: #1878F3;

.dot {
  height: 4em;
  width: 4em;
  margin: 0.5em;
  border-radius: 50%;
  display: inline-block;

  @media screen and (min-width: 1024px) {
    width: 2em;
    height: 2em;
  }
}

.unchecked-dot {
  background-color: #ccc;
}

.checked-dot {
  background-color: $blue;
}

.darkened-dot {
  background-color: darken($blue, 20%);
}

.container {
  margin: 0 auto;
}
