<div *ngFor="let post of posts">
  <div *ngIf="post.day === (currentDay | async)" class="blog-post-container">
    <h4>
      <app-timestamp-presenter [timestamp]="post.timestamp">
      </app-timestamp-presenter>
    </h4>
    <app-blog-media-presenter *ngIf="post.media !== undefined"
                              [media]="post.media"
                              class="post-header-media">
    </app-blog-media-presenter>
    <h2>{{ post.title }}</h2>

    <div class="post-content">
      <app-blog-post-content-presenter [content]="post.content">
      </app-blog-post-content-presenter>
    </div>
  </div>
</div>

<div *ngIf="postsEmpty" class="blog-post-container">
  <div class="post-content">
    עדיין לא הוספתי תוכן ליום זה. <br />
    בינתיים, תוכלו להסתכל על תכנים מימים קודמים על ידי לחיצה על העיגולים במעלה הדף.
  </div>
</div>
