.header {
  background: rgba(white, 0.4);
  text-align: center;
  padding: 2em 0;
}

section {
   text-align: center;

   width: 100vw;
   @media screen and (min-width: 1024px) {
     max-width: 75vw;
   }
   margin: 0 auto;
}

#main-app-container {
  background: rgba(white, 0.7);
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#loading-container {
  background: rgba(white, 0.4);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;

  h1 {
    margin: 25% 0;
  }
}
