.inline-media {
  max-height: 25vh;
  max-width: 50vw;
  display: inline;
}

.hebrew-content-paragraph {
  margin: 1em 0;
  direction: rtl;
}

.english-content-paragraph {
  margin: 1em 0;
  direction: ltr;
  text-align: center;
}
