<div class="blog-post-container">
  <h4>
    <app-timestamp-presenter [timestamp]="post.timestamp">
    </app-timestamp-presenter>
  </h4>
  <app-blog-media-presenter *ngIf="post.media !== undefined"
                            [media]="post.media"
                            class="post-header-media"
                            (changeMediaSource)="changeHeaderMediaSource()">
  </app-blog-media-presenter>

  <h2 *ngIf="!isEditingTitle">
    <span>
        {{ post.title }}
    </span>

    <a *ngIf="auth.isAdmin$ | async"
       (click)="editTitle()">
      <fa-icon [icon]="faPen"></fa-icon>
    </a>
  </h2>

  <div class="titleEditorContainer"
       *ngIf="isEditingTitle">
    <input
        class="titleEditorInput"
        type="text"
        [(ngModel)]="newTitle">

    <a (click)="applyTitleEdit()">
      <fa-icon [icon]="faCheck"></fa-icon>
    </a>

    <a (click)="cancelTitleEdit()">
      <fa-icon [icon]="faTimes"></fa-icon>
    </a>
  </div>

  <div class="post-content">
    <app-blog-post-content-presenter [post]="post">
    </app-blog-post-content-presenter>
  </div>
</div>
