@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: "Varela Round";
  direction: rtl;
  margin: 0;
  background: black;

  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  background-image: url('https://kfir.dev/spainmedia/images/grass_background_portrait.jpg');

  @media screen and (min-width: 1024px) {
    background-image: url('https://kfir.dev/spainmedia/images/grass_background_landscape.jpg');
  }
}

a {
  cursor: pointer;
}
